@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

.nav-bar{
    width: 120%;
    height: 50px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busca{
    width: 60%;
    height: 60%;
    display: flex;
    background-color: #edeffd;
    position: relative;
    border-radius: 6px;
    gap: 20px;
}

#lupa{
    font-size: 1.5rem;
    position: relative;
    top: 5px;
    left: 15px;
    color: var(--color-dark);
}


input{
    width: 80%;
    height: 20px;
    background-color: #edeffd;
    position: relative;
    top: 5px;
    color: var(--color-dark);
}

.body2{
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 250px;
    position: relative;
    overflow: hidden;
    top: 85px;
    right: 950px;
    border-radius: 15px;

}

.slider{
    margin: 0 auto;
    width: 120%;
    height: 100%;
    display: flex;
    border-radius: 7px;
}

.slides{
    width: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    flex: 0 0 100%;
    width: 25%;
    position: relative;
}

.slide img{ /** **/
    width: 1200px;
    position: relative;
    bottom: 250px;
}

.manual-navigation{
    position: absolute;
    width: 1200px;
    margin-top: 225px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

#radio5:checked ~ .first{
    margin-left: -400%;
}

.navigation-auto div{
    border: 2px solid #20e6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 893px;
    margin-top: 360px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#card2{
    position: relative;
    bottom: 200px;
}

#card3{
    position: relative;
    top: 2px;
}

#card4{
    position: relative;
    padding-top: 80px;
}

#card5{
    position: relative;
    bottom: 50px;
}

.games{
    width: 279%;
    height: 180vh;
    position: relative;
    right: 950px;
    top: 115px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.game{
    width: 1200px;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    transition: all 0.3s ease;
    background-color: var(--color-white);
}

.game:hover{
    transform: scale(1.02);
}

.info{
    display: flex;
    flex-direction: column;
}

.jogo{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.star{
    width: 20%;
    height: 100%;
    position: relative;
    left: 20px;
    bottom: 5px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 15pt;
    margin-left: 30px;
    margin-top: 10px;
}

.info p{
    margin-left: 30px;
    font-size: 9pt;
    position: relative;
    top: 15px;
}

.perfil{
    width: 10%;
    position: relative;
    left: 320px;
    display: flex;
    align-items: center;
}